#theme-upgrade-info {
	background-color: #FFFBCC;
	border: 1px solid #E6DB55;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #555;
	display: none;
	padding: 10px;
}

#theme-upgrade-info p {
	margin: 0 0 15px 0;
}

#theme-upgrade-already-paid {
	float: right;
	margin-top: 15px;
}

#theme-upgrade h2 {
	margin-bottom: 20px;
}

#theme-upgrade .left-column {
	width: 640px;
	
	float: left;
}

#theme-upgrade .right-column {
	width: 320px;
	
	float: left;
	margin-left: 40px;
}

#theme-upgrade #video-wrapper {
	background: #000000;
	background-position: top left;
	margin-bottom: 20px;
}

#theme-upgrade #video-wrapper a,
#theme-upgrade #video-wrapper .placeholder,
#theme-upgrade #video-wrapper iframe {
	width: 640px;
	height: 362px;
	
	display: block;
	line-height: 0;
}

#theme-upgrade #video-wrapper a {
	background: url(../img/video.png) no-repeat;
}

#theme-upgrade .premium-summary {
	margin-bottom: 30px;
}

#theme-upgrade #features .feature {
	margin-bottom: 30px;
}

#theme-upgrade #features .feature img {
	float: right;
	margin-left: 20px;
}

#theme-upgrade .clearfix:after {
	height: 0;
	
	clear: both;
	content: ".";
	display: block;
	line-height: 0;
	visibility: hidden;
}

#theme-upgrade .clearfix {
	display: inline-block;
}

#purchase-form {
	background: #FBFBFB;
	border: 1px solid #E0E0E0;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	padding: 20px;
}

#purchase-form p.download {
	margin-top: 0;
	text-align: center;
}

/* Buy Button */

#theme-upgrade .buy-button-wrapper {
	background: #F0F0F0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	padding: 6px;
}

#theme-upgrade .buy-button {
	background: #cbe385;
	background: -moz-linear-gradient(top, #cbe385 0%, #9ccc54 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbe385), color-stop(100%,#9ccc54));
	background: -webkit-linear-gradient(top, #cbe385 0%,#9ccc54 100%);
	background: -o-linear-gradient(top, #cbe385 0%,#9ccc54 100%);
	background: -ms-linear-gradient(top, #cbe385 0%,#9ccc54 100%);
	background: linear-gradient(to bottom, #cbe385 0%,#9ccc54 100%);
	border: 1px solid #83a44d;
	border-radius: 4px;
	border-top-color: #a6b864;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 0 3px rgba(0,0,0,0.2);
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbe385', endColorstr='#9ccc54',GradientType=0 );
	font: 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 500;
	line-height: 1em;
	text-decoration: none;
}

#theme-upgrade .buy-button:hover {
	background: #cee688;
	background: -moz-linear-gradient(top, #cee688 0%, #a3d25a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cee688), color-stop(100%,#a3d25a));
	background: -webkit-linear-gradient(top, #cee688 0%,#a3d25a 100%);
	background: -o-linear-gradient(top, #cee688 0%,#a3d25a 100%);
	background: -ms-linear-gradient(top, #cee688 0%,#a3d25a 100%);
	background: linear-gradient(to bottom, #cee688 0%,#a3d25a 100%);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 0 3px rgba(0,0,0,0.3);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee688', endColorstr='#a3d25a',GradientType=0 );
}

#theme-upgrade .buy-button:active {
	background: #b3d46c;
	background: -moz-linear-gradient(top, #b3d46c 0%, #bbd975 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3d46c), color-stop(100%,#bbd975));
	background: -webkit-linear-gradient(top, #b3d46c 0%,#bbd975 100%);
	background: -o-linear-gradient(top, #b3d46c 0%,#bbd975 100%);
	background: -ms-linear-gradient(top, #b3d46c 0%,#bbd975 100%);
	background: linear-gradient(to bottom, #b3d46c 0%,#bbd975 100%);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 0 1px rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3d46c', endColorstr='#bbd975',GradientType=0 );
	margin-bottom: -1px;
	margin-top: 1px;
	outline: none;
}

#theme-upgrade .buy-button span {
	border-right: 1px solid #98b55b;
	color: #4f6920;
	display: inline-block;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-weight: bold;
	padding: 12px 20px 12px 20px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.575);
}

#theme-upgrade .buy-button.variable-pricing span {
	border-right: none;
}

#theme-upgrade .buy-button:hover span {
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}

#theme-upgrade .buy-button em {
	background: rgba(255,255,255,0.1);
	border-left: 1px solid rgba(255,255,255,0.275);
	color: #5b752c;
	display: inline-block;
	font-style: italic;
	font-weight: bold;
	padding: 12px 20px 12px 20px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.575);
}

#purchase-form .options {
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: left;
}

#purchase-form .options input[type=radio] {
	margin-right: 4px;
}

#purchase-form .options label {
	display: block;
	margin-bottom: 8px;
}

#purchase-form .options label:last-child {
	margin-bottom: 0px;
}

#purchase-form .choose-description {
	margin-bottom: 0;
}

#theme-upgrade .contribute {
	background: #FBFBFB;
	border: 1px solid #E0E0E0;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	margin-top: 20px;
	padding: 20px;
}

#theme-upgrade .contribute a {
	font-weight: bold;
	text-decoration: none;
}

#theme-upgrade .testimonials-heading {
	margin-top: 40px;
}

#theme-upgrade .testimonials {
	background: #FBFBFB;
	border: 1px solid #E0E0E0;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	padding: 20px;
}

#theme-upgrade .testimonials .testimonial {
	margin-bottom: 25px;
}

#theme-upgrade .testimonials .testimonial:last-child {
	margin-bottom: 0;
}

#theme-upgrade .testimonials .testimonial .avatar {
	width: 40px;
	height: 40px;
	
	float: left;
}

#theme-upgrade .testimonials .testimonial .text {
	margin-left: 55px;
}

#theme-upgrade .testimonials .testimonial .text .name {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

#theme-upgrade .support-message {
	background: #cbe385;
	border-radius: 4px;
	color: #344e02;
	display: none;
	margin: 0 -10px 10px -10px;
	padding: 10px;
}

#theme-upgrade .support-message p {
	margin: 0;
}

html[xmlns] #theme-upgrade .clearfix {
	display: block;
}

* html #theme-upgrade .clearfix {
	height: 1%;
	
}

