.siteorigin-edit {
	position: absolute;
	top: 0;
	right: 0;
	width: 14px;
	height: 14px;
	
	background: url(../images/settings.png) no-repeat center center;
	display: block;
	z-index: 9999;
}

.siteorigin-edit:hover {
	background-color: #e4f1fd;
}

